CREATE TEMPORARY TABLE IF NOT EXISTS top_customers AS
WITH customer_stats AS (
  SELECT
    user_id,
    COUNT (DISTINCT order_id) AS order_count,
    SUM (total_amount) AS lifetime_value,
    DATEDIFF (NOW (), MAX (order_date)) AS days_since_last_order
  FROM
    orders
  WHERE
    status != 'cancelled'
  GROUP BY
    user_id
),
ranked_customers AS (
  SELECT
    cs.*,
    NTILE (4) OVER (ORDER BY lifetime_value DESC) AS value_quartile,
    CASE
      WHEN days_since_last_order <= 30 THEN 'active'
      WHEN days_since_last_order <= 90 THEN 'at_risk'
      ELSE 'churned'
    END AS customer_status
  FROM
    customer_stats cs
  WHERE
    order_count > 0) SELECT rc.*, u.username, u.email, u.registration_date FROM ranked_customers rcJOIN users u ON rc.user_id = u.user_id WHERE value_quartile IN (1, 2
);
